apiVersion: apps/v1
kind: Deployment
metadata:
  name: gil-mery
  labels:
    app: testapp
spec:
  replicas: 3
  selector:
    matchLabels:
      app: testapp
  template:
    metadata:
      labels:
        app: testapp
    spec:
      containers:
      - name: demo
        image: m3r1/testcd:latest
        ports:
        - containerPort: 8080
